{% extends "blog/base.html" %}

{% load static %}  <!-- Load static files tag -->

{% block content %}
    <h3>Professional Summary</h3>
    <p>
        I am a seasoned IT professional with over a decade of experience, characterized by continuous evolution and mastery across diverse technological domains. My career began at a Fortune Global 500 PC manufacturer company, where I developed a strong foundation in traditional IT, gaining comprehensive expertise in hardware, databases, operating systems, and SAP applications. This experience provided me with a robust understanding of enterprise-level IT ecosystems.
    </p>
    <p>
        Upon relocating to Australia in 2017, I broadened my ICT experience within the financial and entertainment industries. This experience led to my transition into cloud computing, with a focus on plubic cloud platforms and DevOps practices. In subsequent roles, I implemented crucial cloud cost optimization strategies and spearheaded digital transformations, significantly improving organizational agility and cloud presence. Now, as a <strong>Senior Cloud Engineer</strong> in the public sector, I specialize in <strong>AWS automation</strong> and <strong>Kubernetes (EKS) platform engineering</strong>. I have also advanced into <strong>Machine Learning Operations (MLOps)</strong>, focused on automating ML model provisioning and deployment on AWS EKS.
    </p>
    <p>
        With extensive AWS and DevOps experience, I possess proven expertise in Kubernetes orchestration, CI/CD pipeline development, and serverless architecture in Cloud environment. My strong capabilities in automation through Infrastructure as Code (IaC) using tools like CloudFormation, Terraform, and Ansible have enabled me to streamline infrastructure provisioning and dynamic EKS cluster management. I hold several industry-recognized certifications, including AWS Certified Solutions Architect, AWS Certified DevOps Engineer, CNCF Certified Kubernetes Administrator (CKA), and CNCF Certified Kubernetes Security Specialist (CKS).
    </p>


    <!-- Corrected Image Reference for Media Files -->
    <img src="{% static 'blog/images/k8s.png' %}" alt="" title="My Path so far" style="display:block; margin: 20px auto; max-width: 100%; height: auto;">

    <p>
        I am passionate about leveraging my technical acumen and strategic mindset to contribute to <strong>cloud-native architectures and automation practices</strong> that drive continuous improvement in DevOps operations.
    </p>


    <h3>Education & Certificate</h3>
    <p>
    <strong>Master of Information Communication Technology</strong>
    </p>
    <p>University of Wollongong – 2008-2010 Wollongong, NSW</p>
    
    <p>
    <strong>Bachelor of Computer Science</strong>
    </p> 
    <p>
    South-Central University – 2004-2008 China   
    </p> 
    <p>    
        <strong>AWS Certified Machine Learning - Associate (MLA)</strong> 
        </p>
    <img src="{% static 'blog/images/aws-mla.png' %}" alt="" title="AWS Certified Machine Learning - Associate (MLA)" style="display:block; margin: 20px auto; max-width: 100%; height: auto;">
    <p>      
        <strong>AWS Certified Solutions Architect - Professional (SAP)</strong> 
        </p>
    <img src="{% static 'blog/images/aws-sap.png' %}" alt="" title="AWS Certified Solutions Architect - Professional (SAP)" style="display:block; margin: 20px auto; max-width: 100%; height: auto;">
    <p>    
        <strong>AWS Certified DevOps Engineer - Professional (DOP)</strong> 
        </p>
    <img src="{% static 'blog/images/aws-devops.png' %}" alt="" title="AWS Certified DevOps Engineer - Professional (DOP)" style="display:block; margin: 20px auto; max-width: 100%; height: auto;">
    <p>    
        <strong>CNCF Certified Kubernetes Administrator (CKA)</strong> 
        </p>
    <img src="{% static 'blog/images/k8s-cka.png' %}" alt="" title="CNCF Certified Kubernetes Administrator (CKA)" style="display:block; margin: 20px auto; max-width: 100%; height: auto;">
    <p>    
        <strong>CNCF Certified Kubernetes Security Specialist (CKS)</strong> 
        </p>
    <img src="{% static 'blog/images/cks.png' %}" alt="" title="CNCF Certified Kubernetes Security Specialist (CKS)" style="display:block; margin: 20px auto; max-width: 100%; height: auto;">
    <p>    
        <strong>Red Hat Certified System Administrator (RHCSA)</strong> 
        </p>
    <img src="{% static 'blog/images/rhcsa.png' %}" alt="" title="Red Hat Certified System Administrator (RHCSA)" style="display:block; margin: 20px auto; max-width: 100%; height: auto;">
    <p>    
        <strong>Red Hat Certified Engineer (RHCE)</strong> 
        </p>
    <img src="{% static 'blog/images/rhce.png' %}" alt="" title="Red Hat Certified Engineer (RHCE)" style="display:block; margin: 20px auto; max-width: 100%; height: auto;">
    <p>    
        <strong>VMware Certified Professional - Data Center Virtulization 2022 (VCP)</strong> 
        </p>
    <img src="{% static 'blog/images/vmware-vcp.png' %}" alt="" title="VMware Certified Professional - Data Center Virtulization 2022 (VCP)" style="display:block; margin: 20px auto; max-width: 100%; height: auto;">

{% endblock content %}
